@charset "UTF-8";

.flex-grow-unset{
  flex-grow:unset!important;
}

/* font */
body{
  font-family:'Poppins', 'Noto Sans', 'Noto Sans KR', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo'!important
}
.font-weight-bold{
  font-weight:500!important;
}
.font-weight-bolder{
  font-weight:600!important;
}
.font-weight-boldest{
  font-weight:700!important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
strong{
  font-weight:600;
}
th{
  font-weight: 500;
}

.fs-scroll::-webkit-scrollbar {
  display: block !important;
  height: 8px;
}
.fs-scroll::-webkit-scrollbar-thumb {  
  border-radius: 4px;
  background: #E4E6EF;
  opacity: 0.5;
}

/* header */
.logo img{
  width:auto;
  height:44%;
  object-fit: contain;
  object-position: 0 50%;
}

/* 프로필 */
.avatar img{
    width: calc(100% - 2px);
    height: calc(100% - 2px);
}
.avatar .circle-chart__bar{
    transform: rotate(-90deg)/* scale(1,-1)*/;
    transform-origin: center;
    stroke: #8950FC;
}
.avatar .circle-chart__bar.animate{
    /* animation: circle-chart-fill 1s reverse; */
}
.avatar .circle-chart {
  display: none;
}
@keyframes circle-chart-fill {
  to { stroke-dasharray: 0 100; }
}
.avatar .feedback-icon{
    transform: translate(50%, 0);
}

/* 피드백 아이콘 */
.feedback-icon{
    position:relative;
    display:inline-block;
}
/* 피드백 아이콘 - badge */
.feedback-icon .badge{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(25%, -10%);
    border:1px solid var(--light-gray);
    background:var(--light-light);
}
/* 피드백 아이콘 - group */
.feedback-icon-group,
.feedback-list-group {
    white-space:nowrap;
    overflow-x:auto;
}
.feedback-icon-group .feedback-icon{
    cursor:pointer;
    margin: 0 .5em;
}
.feedback-icon-group svg,
.feedback-list-group svg {
    background:#fff;
    border-radius:100%;
    border:1px solid var(--light-gray);
    overflow:hidden;
}
.feedback-icon-group .feedback-icon.hover-on.on svg{
    border-color:var(--dark);
}
.feedback-list-group .d-inline-block {
    padding: 0 .5em;
    vertical-align: top;
}
/* 피드백 아이콘 - svg */
.feedback-icon circle, 
.feedback-icon path, 
.feedback-icon polygon, 
.feedback-icon rect, 
.feedback-icon line,
.feedback-icon ellipse,
.feedback-icon polyline{
    stroke: var(--gray);
    fill: #fff;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition:.3s;
}
.feedback-icon.on circle, 
.feedback-icon.on path, 
.feedback-icon.on polygon, 
.feedback-icon.on rect, 
.feedback-icon.on line,
.feedback-icon.on ellipse,
.feedback-icon.on polyline{
    stroke: var(--dark);
    stroke-width:2px;
}
.feedback-icon.hover-on:hover circle, 
.feedback-icon.hover-on:hover path, 
.feedback-icon.hover-on:hover polygon, 
.feedback-icon.hover-on:hover rect, 
.feedback-icon.hover-on:hover line,
.feedback-icon.hover-on:hover ellipse,
.feedback-icon.hover-on:hover polyline{
    stroke: var(--dark);
}
.feedback-icon .fill-em{
    fill:var(--light-gray)!important;
}
.feedback-icon.on .fill-em,
.feedback-icon.hover-on:hover .fill-em{
    fill:var(--light-danger)!important;
}
.feedback-icon .fill-em2{
    fill: var(--gray)!important;
}
.feedback-icon.on .fill-em2,
.feedback-icon.hover-on:hover .fill-em2{
    fill: var(--danger)!important;
}
.feedback-icon .fill-white{
    fill:#fff!important;
}
.feedback-icon .fill-dark{
    fill:var(--gray)!important;
}
.feedback-icon.on .fill-dark,
.feedback-icon.hover-on:hover .fill-dark{
    fill: var(--dark)!important;
}
.feedback-icon .fill-none{
    fill:none!important;
}
.feedback-icon.on .stroke-em,
.feedback-icon.hover-on:hover .stroke-em{
    stroke:var(--danger)!important;
}
.feedback-icon .stroke-none{
    stroke:none!important;
}
.feedback-icon .blend-darken{
    mix-blend-mode: darken;
}
/* 피드백 요청하기 모달 동료 추가/제거 하기 */
.dble-item .btn-delete{
  opacity:0;
  transition:.3s!important;
}
.dble-item .btn-delete:hover{
  opacity:1;
  transform:rotate(-90deg);
}
#layer_rq_srchList .avatar:after{
  content:'';
  width: 20px;
  height: 20px;
  background-size: 88% auto;
  background-color: var(--primary);
  background-position: 50% -100%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: -5px;
  border: 2px solid #fff;
  border-radius: 100%;
  opacity:0;
  transition:.1s;
}
#layer_rq_srchList .checked .avatar:after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24px' height='24px' viewBox='0 0 24 24' version='1.1'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpolygon points='0 0 24 0 24 24 0 24'%3E%3C/polygon%3E%3Cpath d='M6.26193932,17.6476484 C5.90425297,18.0684559 5.27315905,18.1196257 4.85235158,17.7619393 C4.43154411,17.404253 4.38037434,16.773159 4.73806068,16.3523516 L13.2380607,6.35235158 C13.6013618,5.92493855 14.2451015,5.87991302 14.6643638,6.25259068 L19.1643638,10.2525907 C19.5771466,10.6195087 19.6143273,11.2515811 19.2474093,11.6643638 C18.8804913,12.0771466 18.2484189,12.1143273 17.8356362,11.7474093 L14.0997854,8.42665306 L6.26193932,17.6476484 Z' fill='%23ffffff' fill-rule='nonzero' transform='translate(11.999995, 12.000002) rotate(-180.000000) translate(-11.999995, -12.000002)'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-position: 50%;
  opacity:1;
}
#layer_rq_srchList .symbol-label{
  transition:.1s;
}
#layer_rq_srchList .checked .symbol-label{
  border:2px solid var(--primary);
  padding:1px;
  border-radius:100%;
}




/*레이어*/
.layer{
    position:absolute;
    top:0;
    left:0;
    width:0;
    height:0;
    overflow:hidden;
    background:#fff;
    transition:.3s cubic-bezier(0.42, 0, 0.38, 1.01);
    opacity:0;
}
/* 칭찬배지 레이어 */
.layer.show{
    width:100%!important;
    height:100%!important;
    opacity:1;
}
.layer.fade{
    width:100%;
    height:100%;
    visibility:hidden;
    pointer-events:none;
}
.layer.fade.show{
    visibility:visible;
    pointer-events:all;
}
.layer.right-to-left,
.layer.top-to-bottom{
    opacity:1;
    width:100%;
    height:100%;
}
.layer.right-to-left{
    left:100%;
}
.layer.right-to-left.show{
    left:0;
}
.layer.top-to-bottom{
    top:auto;
    bottom:100%;
}
.layer.top-to-bottom.show{
    bottom:0;
}
.layer .modal-content{
    display:flex;
    flex-direction:column;
    height:100%;
}
.layer .modal-header{
    align-items:center;
}
.layer .modal-body{
    height:10px;
    flex-grow:1;
    overflow-y:auto;
}

/* chart - bar */
.chart-bar{
    width:0;
    opacity:0;
    overflow:hidden;
    transition:1s;
}
.chart-bar.show{
    width:100%;
    opacity:1;
}
.chart-bar g.txt{
    opacity:0;
}
.chart-bar.show g.txt{
    opacity:1;
    transition:.5s .7s;
}
/* chart - donut */
.chart-donut{
    opacity:0;
    transition:.2s;
}
.chart-donut.show{
    opacity:1;
}
.chart-donut circle{
    fill:transparent;
}
.chart-donut .donut-ring{
    stroke:var(--light-gray);
    stroke-width: 3.5;
}
.chart-donut [class*="donut-segment-"]{
    transform: rotate(-90deg);
    transform-origin: center;
    animation: circle-chart-fill 1s reverse;
    stroke-width: 3.5;
}
.chart-donut .donut-segment-1{
    stroke:var(--danger);
}
.chart-donut .donut-segment-2{
    stroke:var(--warning);
}
.chart-donut .donut-segment-3{
    stroke:var(--success);
}
.chart-donut .donut-text-1{
    font-size: 0.6em;
    line-height: 1;
    transform: translateY(0.5em);
    font-weight: bold;
}
.chart-donut .donut-text-2{
    font-size: 0.2em;
    line-height: 1;
    transform: translateY(0.5em);
    text-align: center;
    text-anchor: middle;
    color: #666;
    fill: #666;
}
.char-donut-legend [class*="legend-segment-"]{
    display: flex;
    align-items: center;
    line-height: 1.3em;
    height: 60px;
}
.char-donut-legend [class*="legend-segment-"] i{
    width:15px;height:15px;
    background:var(--danger);
}
.char-donut-legend .legend-segment-2 i{
    background:var(--warning);
}
.char-donut-legend .legend-segment-3 i{
    background:var(--success);
}
.char-donut-legend [class*="legend-segment-"] strong {
    margin: 0 13px;
}
.chart-reivew-legend ul {
    list-style: none;
    padding-left: 0;
}
.chart-reivew-legend ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 10px;
}
.chart-reivew-legend ul span {
    min-width: 15px;
    min-height: 15px;
    margin-right: 13px;
}
.chart-sub-value {
    display: flex;
    flex-direction: column;
    position: absolute !important;
    top: 0;
    left: 90px;
    height: 100%;
}
.chart-sub-value span {
   height: 50% !important;
   text-align: center;
   color: #fff;
}

/* div table */
.div-table .table-row{
    display:flex;
    justify-content:space-between;
    border-bottom:1px solid var(--border);
}
.div-table .table-cell{
    padding:10px 15px;
}
/* div table - OKR 작성하기 */
.table-edit-okr .table-cell:first-child{
    width:110px;
}
.table-edit-okr .table-cell:last-child{
    width:130px;
}
.table-edit-okr .table-cell:nth-child(2){
    width:100px;
    flex-grow:1;
}
.table-edit-okr button{
    width:100%;
}
/* Key Result History Table */
#modal_krHistory table tr > *{
    padding:10px;
    text-align:center;
}
#modal_krHistory table thead > tr > *{
    white-space:nowrap;
    background:var(--light);
}
#modal_krHistory table tbody > tr > *{
    border-bottom:1px solid var(--border);
}

/* 조직도 리스트 */
.list-team .jstree-anchor {
  height: 36px;
  line-height: 36px;
  font-weight: bold;
}
.list-team .jstree-anchor:hover {
  background-color: #F3F6F9;
}
.list-team .d-flex .jstree-anchor {  
  height: 36px;
  line-height: 36px;
  font-weight: normal;
}
.jstree-default .jstree-last {
  position: relative;
}
.jstree-default .jstree-last:after {
  position: absolute;
  top: 0;
  left: 11px;
  width: 1px;
  height: 6px;
  background-color: #787878;
  content: '';
}
.jstree-default .jstree-icon:empty {
  position: relative;
  top: 4px;
}


.modal-header {
  padding: 20px 1.25rem !important;
}

/* 헤더 고정 modal */
.modal-fixed {
  height: calc(100% - 3.5rem) !important;
}
.modal-fixed .modal-content {
  max-height: 100% !important;
}
.modal-fixed .modal-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;
}
.modal-fixed .modal-header + .modal-body {
  position: relative;
  overflow-y: scroll;
  padding-top: calc(1.75rem + 90px) !important;
  height: 100% !important;
}

.modal-tabs .header-tabs {
    border-bottom: 1px solid #EBEDF3;
}
.modal-tabs .header-tabs li {
    padding: 0;
}
.modal-tabs .header-tabs li:last-child {
    border-right: 0;
}
.modal-tabs .header-tabs li a {
    display: flex;
    position: relative;
    bottom: -1px;
    height: 100%;
    margin: 0 1rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EBEDF3;
}
.modal-tabs .header-tabs li a:hover,
.modal-tabs .header-tabs li .active {
    border-color: #3699FF;
}
.modal-tabs .header-tabs li a span {
    color: #7E8299;
}
.modal-tabs .header-tabs li .active span {
    color: #3699FF;
}
.modal-tabs .tab-content .content {
    padding: 0;
}

.review-tabs .header-tabs li {
  padding: 0;
}
.review-tabs .header-tabs li:last-child {
  border-right: 0;
}
.review-tabs .header-tabs li a {
  display: flex;
  position: relative;
  height: 100%;
  margin: 0 1rem;
  align-items: center;
  justify-content: flex-start;
  border-left: 1px solid #EBEDF3 !important;
}
.review-tabs .header-tabs li .active {
  border-left: 1px solid #3699FF !important;
}
.review-tabs .header-tabs li a span {
  font-size: 1.25rem;
  color: #7E8299;
}
.review-tabs .header-tabs li .active span {
  color: #3699FF;
}
.review-tabs .tab-content .content {
  padding: 0;
}
.my-review-accordion .btn-spread:before {
  display: inline-block;
  font-family: "Ki";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  content: "\f109";
}
.my-review-accordion .show + .btn-spread:before {
  content: "\f10e";
}

#layer_reviewer_srchList,
#layer_reviewer_srchList2 {
  display: none;
  position: absolute;
  top: -127px;
  left: 0;
  z-index: 10;
  width: 100%;
  height: calc(100% + 1.75rem);
  border-top: 1px solid #8950FC;
  background-color: #fff;
  -webkit-animation: animation-dropdown-menu-fade-in .3s ease 1, animation-dropdown-menu-move-up .3s ease-out 1;
  animation: animation-dropdown-menu-fade-in .3s ease 1, animation-dropdown-menu-move-up .3s ease-out 1; 
}
#layer_reviewer_srchList.show,
#layer_reviewer_srchList2.show {
  display: block;
}
#layer_reviewer_srchList .reviewer-item.selected,
#layer_reviewer_srchList2 .reviewer-item.selected {
  background-color: #8950FC !important; 
}
#layer_reviewer_srchList .reviewer-item.selected .text-dark-75, 
#layer_reviewer_srchList .reviewer-item.selected .text-dark-50,
#layer_reviewer_srchList2 .reviewer-item.selected .text-dark-75,
#layer_reviewer_srchList2 .reviewer-item.selected .text-dark-50 {
  color: #fff !important;
}
#layer_review_srchList {
  top: auto;
  bottom: 0;
  height: calc(100% - 71px) !important;
}
#modal_myReviewer .reviewer-list,
#modal_teamReviewer .reviewer-list {
  overflow-x: auto;
  white-space: nowrap;
}
#modal_myReviewer .reviewer-list .btn-danger,
#modal_teamReviewer .reviewer-list .btn-danger {
  position: absolute;
  top: 26px;
  right: 0;
}
#modal_OKRReview .header-tabs li button,
#modal_OKRPreview .header-tabs li button,
#modal_OKRLeaderReview .header-tabs li button,
.button-tabs .header-tabs li button {
  background-color: #EBEDF3;
}
#modal_OKRReview .header-tabs li button.active,
#modal_OKRPreview .header-tabs li button.active,
#modal_OKRLeaderReview .header-tabs li button.active,
.button-tabs .header-tabs li button.active {
  background-color: #3699FF;
  color: #fff;
}
.radio.radio-num > span {
  width: 40px;
  height: 40px;
}
.radio.radio-num > input:checked + span {
  color: #fff;
}
.radio.radio-num > input:checked + span:after {
  display: none !important;
}
.word-keep {
  word-break: keep-all;
}
.dropdown.bg-light .btn {
  background-color: #F3F6F9 !important;
  border: 0 !important;
}
.line-height-40px {
  line-height: 40px;
}

/* OKR - team OKR - feedback button*/
@media (min-width: 1585px) {
    #content_tab_okr .section-group-1{
        min-width:850px;
    }
    #content_tab_okr .fb-btn-group .dropdown{
        display:none
    }
    #content_tab_okr .fb-btn-group .btn{
        display:flex!important;
    }
}

@media (max-width: 1365px) {
  #content_tab_feedback .section-group-1 .section-1 {
    width: 330px !important;
  }
  #content_tab_feedback .section-group-1 .section-2 .nav .nav-link {
    margin: 0 0.5rem;
  }
  #content_tab_feedback .section-group-1 .section-2 .nav .nav-item:first-child .nav-link {
    margin-left: 0;
  }
}

/* rwd */
#kt_aside_mobile_toggle {
  display: none;
}
#kt_header_bottom .review-tab-select {
  display: none !important;
}
#kt_header_bottom .nav-link.active .review-tab-select {
  display: flex !important;
}
#kt_header_bottom .review-tab-select .form-control {
  background-color: transparent !important;
}
#kt_header_bottom .review-tab-select button {
  background-color: #F0F3F5 !important;
  border: 0 !important;
}
#kt_header_bottom .nav-link.active .review-tab-select button {
  background-color: transparent !important;
}
#kt_header_bottom .review-tab-select .bootstrap-select div.dropdown-menu {
  border-top: 1px solid #E4E6EF !important;
  border-radius: 0.42rem !important;
  padding: 0;
}
#content_tab_feedback .section-group-1 {
  padding: 0;
}
#content_tab_feedback .section-group-1 {
  flex-direction: row !important;
  width: 62% !important;
}
#content_tab_feedback .section-group-1 .section-1 .nav-tabs .nav-link {
  margin: 0 0.5rem !important;
}
#content_tab_feedback .section-group-1 .section-1 .nav-tabs .nav-item:first-child .nav-link {
  margin-left: 0 !important;
}
#content_tab_okr .section-group-1 .section-2 .card-header .btn{
  margin-right: 0 !important;
}
#content_tab_review .review-top-select {
  display: none !important;
}
#content_tab_review .review-top-select .dropdown-menu {
  max-width: 100% !important;
}
#content_tab_review .review-score > .d-flex {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  align-items: flex-start !important;
}
#content_tab_review .section-review .section-group-1 {
  width: 33.3333%;
}
#content_tab_review .section-review .section-group-2 .section-1 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding-left: 12.5px;
  padding-right: 12.5px;
}
#content_tab_review .section-review .section-group-2 .section-1 + .section-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

@media (max-width: 1584px) {
  #content_tab_okr .section-group-1{
    min-width: calc(50% + 125px);
  }
  #content_tab_okr .fb-btn-group .d-none{
    display: none !important;
  }
  #content_tab_okr .fb-btn-group .dropdown{
    display: block
  }
  #content_tab_review .d-flex.bg-light-light .w-150px,
  #content_tab_review .d-flex.border-light-dark .w-150px {
    max-width: 110px !important;
  }
  #content_tab_review .symbol-50 .symbol-label {
    width: 40px !important;
    height: 40px !important;
  }
  #content_tab_review .section-review .section-group-2 .section-1 {
    width: 50%;
  }
}

@media (max-width: 1194px) {
  .container-fluid {
    padding: 0;
  }
  .header-top .container-fluid {
    margin: 0 1rem !important;
  }
  .header h1{
    font-size:calc(1.125rem + 0.9vw);
  }
  .content {
    padding: 15px;
  }
  .card.card-custom > .card-header,
  .card.card-custom > .card-body,
  .card.card-custom > .card-body .card-spacer-x {
    padding: 1rem;
  }
  .card.card-custom > .card-body .d-flex.w-150px.pl-8 {
    padding-left: 1rem !important;
  }
  .d-flex.w-150px {
    width: 125px !important;
  }
  .d-flex.w-150px .w-100px {
    width: 75px !important;
  }
  .feedback-icon-group .feedback-icon .w-65px {
    width: 50px !important;
  }
  .feedback-icon-group .feedback-icon .h-65px {
    height: 50px !important;
  }
  #content_tab_feedback .section-group-1 {
    width: auto !important;
  }
  #content_tab_feedback .section-group-1 .section-1 {
    width: 300px !important;
  }
  #content_tab_feedback .section-group-1 .section-2 {
    width: 350px !important;
  }
  #content_tab_feedback .section-group-3 .card.card-custom > .card-body .card-spacer-x {
    padding-top:0 !important;
  }
  #content_tab_feedback .section-group-3 .card.card-custom .card-body.p-0 {
    padding: 0 !important;
  }
  #content_tab_review .section-1.w-400px {
    width: 300px !important;
  }
  #content_tab_review .review-tabs {
    margin-top: 0 !important;
  }
  #content_tab_review .review-tabs .header-tabs {
    margin: 0 !important;
  }
  #content_tab_review .section-2 {
    margin: 0 !important;
  }
  #content_tab_review .section-2 .tab-container {
    padding: 1rem 0 !important;
  }
  #content_tab_review .d-flex.bg-light-light.p-8 {
    padding: 1rem !important;
  }
  #content_tab_review .d-flex.bg-light-light.px-8 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  #content_tab_review .d-flex.bg-light-light.pt-8 {
    padding-top: 1rem !important;
  }
  #modal_userProfile .feedback-icon .w-55px {
    width: 50px !important;
    height: 50px !important;
  }
}

@media (max-width: 1194px) and (min-width: 992px){
  .header .header-top,
  .header-tabs{
    height:80px;
  }
}

@media (max-width: 991px) {
  .header-top .container-fluid {
    margin: 0 !important;
  }
  .header-top .header-tabs {
    overflow: initial !important;
    margin: 0;
  }
  .header-top .header-tabs .nav-item {
    padding: 0 !important;
  }
  .header-top .header-tabs .nav-item .active {
    background-color: #fff;
  }
  .header-top .header-tabs .nav-item .nav-link {
    height: 40px;
    justify-content: center;
    border-radius: 0;
  }
  #kt_header h1 {
    height: 60px;
    margin: 0 !important;
    padding: 0 15px;
    line-height: 60px;
  }
  #kt_aside_mobile_toggle {
    display: flex;
    position: absolute;
    top: 0;
    right: 15px;
    height: 60px;
  }
  #kt_header_topbar {
    position: absolute;
    top: 0;
    left: -100%;
    width: calc(100% - 39px);
    box-shadow: none;
    background-color: #F3F6F9;
  }
  #kt_header_topbar.on {
    left: 0;
  }
  @media (max-width : 575px){
    .topbar-noti .dropdown-menu{
      transform: translate3d(calc(-100% + 132px), 44px, 0px)!important;
      width: calc(100vw - 20px);
    }
  }
  #content_tab_feedback .section-group-1 {
    flex-direction: column !important;
    width: 50% !important;
    transform: translate(0);
    overflow-y:auto!important;
  }
  #content_tab_feedback .section-group-3 .d-flex.min-h-60px {
    flex-direction: row;
  }
  #content_tab_feedback .section-group-3 .d-flex.min-h-60px > .flex-grow-1 {
    margin-top: 0px;
    margin-left: 1.25rem !important;
  }
  #content_tab_feedback .section-group-1 .h-100,
  #content_tab_feedback .section-group-1 .h-100px,
  #content_tab_feedback .section-group-1 .h-sm-100 {
    height: auto !important;
  }
  #content_tab_feedback .section-group-1 .section-1 {
    width: 100% !important;
  }
  #content_tab_feedback .section-group-1 .section-2 {
    width: 100% !important;
  }
  #content_tab_feedback #layer_myBadgeFeedback {
    position: fixed !important;
    z-index: 9999;
  }
  #content_tab_okr .section-group-1 {
    min-width: 50%;
  }
  #content_tab_okr .section-group-1 > .card {
    overflow-y: auto !important;
  }
  #content_tab_okr .section-group-1 .section-1,
  #content_tab_okr .section-group-1 .section-2 {
    width: 100% !important;
    height: auto !important;
  }
  #content_tab_okr .section-group-1 .flex-row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }
  #content_tab_okr .section-group-1 .section-1 {
    border-right: 0 !important;
  }
  #content_tab_okr .list-team-box {
    padding-top:0!important;
    padding-bottom:0!important;
  }
  #content_tab_okr .list-team-box .list-team,
  .list-team-box #layer_okr_srchList
  {
    position:static!important;
    height:0!important;
    padding-top:0!important;
    padding-bottom:0!important;
    overflow:hidden;
    opacity:0;
    transition:.3s;
  }
  #content_tab_okr .list-team-box.focus .list-team,
  .list-team-box.show #layer_okr_srchList{
    height:auto!important;
    max-height:9999px;
    padding-top:1rem!important;
    padding-bottom:1rem!important;
    opacity:1;
  }


  #content_tab_okr .accordion .card-title {
    padding-right: 3rem !important;
  }
  #content_tab_okr .accordion .card-body .flex-wrap {
    padding-right: 1.75rem !important;
  }
  #content_tab_okr .accordion .d-flex.w-100 {
    flex-wrap: wrap;
  }
  #content_tab_okr .accordion .d-flex.w-100 .w-100px:first-child {
    width: 100% !important;
    margin-bottom: 10px;
  }
  #kt_header_bottom .review-tab-select {
    display: none !important;
  }
  #content_tab_review .section-review .section-group-2 {
    overflow-y: auto !important;
    flex-direction: column !important;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    padding-left: 12.5px;
    padding-right: 12.5px;
  }
  #content_tab_review .section-review .section-group-2 .section-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 !important;
    flex: 0 !important;
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
    padding: 0;
  }
  #content_tab_review .section-review .section-group-2 .section-1 + .section-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 !important;
    flex: 0 !important;
    max-width: 100%;
    margin-top: 25px !important;
    padding: 0;
  }
  #content_tab_review .section-group-2 > .col-6 {
    width: 100% !important;
    max-width: 100% !important;
  }
  #content_tab_review .section-group-2 .h-100,
  #content_tab_review .section-group-2 .h-100px,
  #content_tab_review .section-group-2 .h-sm-100 {
    height: auto !important;
  }
  #content_tab_review .section-group-2 .section-2 {
    margin-top: 25px;
  }
  #content_tab_review .section-group-1 {
    width: 50% !important;
    max-width: 50% !important;
  }
  #modal_userProfile .col-auto  {
    width: 100% !important;
  }
  #modal_userProfile .section-2 {
    margin-top: 25px;
  }
  #layer_fd_srchList .modal-content {
    margin-bottom: 25px;
  }
  #modal_workReview .section-1,
  #modal_workReview .section-2,
  #modal_coworkerReview .section-1,
  #modal_coworkerReview .section-2,
  #modal_coworkerReview2 .section-1,
  #modal_coworkerReview2 .section-2,
  #modal_coworkerReview3 .section-1,
  #modal_coworkerReview3 .section-2,
  #modal_teamReview .section-1,
  #modal_teamReview .section-2,
  #modal_teamPreviewComplete .section-1,
  #modal_teamPreviewComplete .section-2,
  #modal_OKRReview .section-1,
  #modal_OKRReview .section-2 {
    padding: 0 !important;
  }
  #modal_workReview .section-1,
  #modal_workReview .section-2,
  #modal_OKRReview .section-1,
  #modal_OKRReview .section-2 {
    width: 100% !important;
  }
  #modal_coworkerReview .section-1,
  #modal_coworkerReview .section-2,
  #modal_coworkerReview2 .section-1,
  #modal_coworkerReview2 .section-2,
  #modal_coworkerReview3 .section-1,
  #modal_coworkerReview3 .section-2,
  #modal_teamReview .section-1,
  #modal_teamReview .section-2,
  #modal_teamPreviewComplete .section-1,
  #modal_teamPreviewComplete .section-2,
  #modal_OKRLeaderReview .section-1,
  #modal_OKRLeaderReview .section-2 {
    width: 100% !important;
  }
  #modal_coworkerReview .section-2,
  #modal_coworkerReview2 .section-2,
  #modal_coworkerReview3 .section-2,
  #modal_teamReview .section-2,
  #modal_teamPreviewComplete .section-2,
  #modal_OKRReview .section-2,
  #modal_OKRLeaderReview .section-2,
  #modal_workReview .section-2 {
    margin-top: 3rem;
  }
  #modal_teamReview .section-2 .header-tabs,
  #modal_teamPreviewComplete .section-2 .header-tabs {
    height: 40px !important;
    margin: 0;
  }
  #content_tab_review  .header-tabs,
  #modal_OKRReview .section-2 .header-tabs,
  #modal_OKRLeaderReview .section-1 .header-tabs {
    margin: 15px 0 !important;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 15px;
  }
  .card-header,
  .card.card-custom > .card-body {
    padding: 2rem 1.25rem;
  }
  .w-65px {
    width: 50px !important;
  }
  .h-65px {
    height: 50px !important;
  }
  #content_tab_review #tab-review > div {
    padding: 0;
  }
  #content_tab_review .review-chart {
    flex-direction: column !important;
  }
  #content_tab_review .review-chart .col-6 {
    max-width: 100% !important;
    margin-bottom: 50px;
  }
  #content_tab_review .review-chart .col-6:last-child {
    margin-bottom: 0;
  }
  #content_tab_review .review-score > .d-flex {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    flex-wrap: wrap !important;;
  }
  #content_tab_review .review-score > .d-flex .font-weight-bolder {
    margin-top: 0.5rem !important;
  }
}

@media (max-width: 767px) {
  .position-fixed [data-toogle="tooltip"] {
    z-index: 100;
  }
  .modal-fixed .modal-header + .modal-body {
    padding-top: calc(1.75rem + 65px) !important;
  }
  .modal-header {
    padding: 12px 1.25rem !important;
  }
  .modal-header .symbol-50 {
    width: 40px !important;
    height: 40px !important;
  }
  .modal-header .symbol-50 .symbol-label{
    width:100%;
    height:100%;
  }
  .modal-body:not(.py-0):not(.pt-0):not(.pb-0):not(.px-0) {
    padding: 1.75rem 1.25rem !important;
  }
  .modal-body.px-0:not(.py-0):not(.pt-0):not(.pb-0) {
    padding: 1.75rem 0 !important;
  }
  .main.tab-content {
    padding-top: 0;
  }
  #kt_header {
    position:sticky;
    top:0;
    z-index:999;
    background-color: #F3F6F9;
  }
  #kt_header_bottom .nav-link.active .review-tab-select {
    display: none !important;
  }
  #content_tab_feedback .col-auto.h-sm-100 {
    width: 100% !important;
    max-width: 100% !important;
  }
  #content_tab_feedback .section-group-1 {
    order: 2;
    width:100%!important;
    padding-top: 25px;
    transform: none;
    overflow:unset!important;
  }
  #content_tab_feedback .section-group-2 {
    order: 3;
    padding-top: 25px;
  }
  #content_tab_feedback .section-group-3 {
    order: 1;
  }
  #content_tab_feedback #layer_myBadgeFeedback .modal-header {
    padding-top: 1.5rem !important;
  }
  #content_tab_okr .section-group-1,
  #content_tab_okr .section-group-2 {
    width: 100% !important;
    min-width: 100% !important;
  }
  #content_tab_okr .section-group-1 {
    order: 2;
    margin-top: 25px;
  }
  #content_tab_okr .section-group-2 {
    order: 1;
  }
  #content_tab_okr .section-group-1 .section-2 .dropdown-menu {
    width: auto !important;
  }
  #content_tab_review {
    padding-top: 0 !important;
  }
  #content_tab_review .review-tabs .header-tabs .text-review {
    display: none;
  }
  #content_tab_review .review-top-select {
    display: flex !important;
    position: sticky;
    top: 100px;
    z-index: 111;
    margin: 0 -15px -15px !important;
    padding: 15px 0!important;
    background-color: #fff;
  }
  #content_tab_review .review-top-select:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.05);
    content: '';
  }
  #content_tab_review .review-result .section-1 {
    position: sticky;
    top: 151px;
    z-index: 100;
    border-right: 0 !important;
  }
  #content_tab_review .review-result .section-2 {
    margin-top: 0 !important;
  }
  #content_tab_review .review-result,
  #content_tab_review .section-review {
    flex-direction: column !important;
  }
  #content_tab_review .review-tabs {
    margin-bottom: 0 !important;
  }
  #content_tab_review .review-tabs .header-tabs {
    flex-direction: row !important;
  }
  #content_tab_review .review-tabs .header-tabs li {
    width: 33.33% !important;
    max-width: 33.33% !important;
    border-bottom: 1px solid #EBEDF3;
  }
  #content_tab_review .review-tabs .header-tabs li a {
    position: relative;
    bottom: -1px;
    justify-content: center !important;
    padding-left: 0 !important;
    border-width: 0 0 1px 0 !important;
  }
  #content_tab_review .review-tabs .header-tabs li a.active {
    border-bottom: 1px solid #3699FF !important;
  }
  #content_tab_review .review-tabs .header-tabs li a span {
    font-size: 1rem;
  }
  #content_tab_review .section-group-1,
  #content_tab_review .section-group-2,
  #content_tab_review .row > .section-1,
  #content_tab_review .row > .section-2,
  #content_tab_review .review-result .section-1,
  #content_tab_review .review-result .section-2 {
    width: 100% !important;
    max-width: 100% !important;
  }
  #content_tab_review .section-group-1 .section-1 {
    flex: 0;
  }
  #content_tab_review .section-2,
  #content_tab_review .section-group-2 {
    margin-top: 3rem;
  }
  #finstagram_help + .dropdown-menu {
    top: auto !important;
    bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .modal-help .modal-content.h-100 {
    height: 100% !important;
  }
}

/* help */
#modal_helpCategory .modal-header {
  height: auto !important;
}
#finstagram_help .h-100 {
  height: 100% !important;
}
#finstagram_help + .dropdown-menu {
  margin-bottom: 1rem;
}
.modal-help .modal-content.h-100 {
  height: 100% !important;
}

.shadow-xs {
  -webkit-box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.04);
}
.card.card-custom {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.04);
  box-shadow: 0px 0px 30px 0px rgba(82, 63, 105, 0.04);
}
.shadow-none {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.jstree-default .jstree-clicked {
  background-color: #3699FF !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff !important;
}
.accordion.accordion-toggle-arrow .card .card-header .card-title.collapsed::after {
  transform: rotate(0deg);
}
.accordion.accordion-toggle-arrow .card .card-header .card-title::after {
  transform: rotate(-180deg);
}