body {
  margin: 0;
}

.modal-content {
  max-height: 95vh;
}

.modal-body {
  max-height: 90vh;
}

.review-wrap {
  flex: 1;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .review-two-wrap {
    flex-direction: column;
    overflow: scroll;
  }
}

div {
  /* overflow:hidden; */
  word-wrap:break-word;
}